#root {
  padding: 1rem;
  box-sizing: border-box;
}

@font-face {
  font-family: Aptos;
  src: url("../font/Aptos.ttf");
}
body{
  background-color: #f5f5f5;
  color: #221f20;
  font-size: medium;
  font-weight: 500;
  font-family: Aptos, sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}


#titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 1rem;
}

#title {
  font-size: x-large;
  font-weight: bold;
}

#titleIcon{
   width: 32px; 
   height: 32px;
}
#bugIcon{
  width: 28px;
  height:28px;
}

hr {
  color: #b2b2b2;
  background-color: #b2b2b2;
  border:none;
  height:1px;
}


.orangeText{
  font-weight: bold;
  color: #D66328;
}

.blueText{
  color: #3A2F7A;
  font-size: medium;
  font-weight: bold;
}

.blueTitle {
  font-size: large;
  color: #3A2F7A;
  font-weight: bold;
  margin-top: 0.1em;
  margin-bottom: 0;
}

.subText{
  color: #3c3c3c;
  font-size: smaller;
}

#description{
  padding: 1em;
}

.description{
  font-size: large;
}

.holder{
  margin-top: 1em;
  padding: 0 1em;
}

#blueHolder{
  background-color: #3A2F7A;
  border-radius: 15px;
  box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.35);
  margin-bottom: 1em;
}
#blueTextHolder{
  background-color: #e0e0e0;
  border-radius: 12px;
  padding: 15px;
  margin-left: 10px;
}

ul {
  list-style-type: disc;
  padding-left: 1.2em;
  margin-top: 0.2em;
  margin-bottom: 0;
}

li {
  color: #221f20;
  padding-left: 0.3em;
  margin-bottom: 0.5em;
}

li::marker {
  color: #221f20;
}
.bottomHolder {
  margin-top: 1em;
  padding: 0 1em;
  display: flex;
  justify-content: space-around; 
  gap: 2em;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoTitle {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: medium;
  font-weight: bold;
  color: #3d3d3d;
  height: 32px;
}

.infoValue {
  font-size: medium;
  font-weight: bold;
  align-items: center;
  color: #3d3d3d;
}

.barbellIcon {
  width: 32px;
  height: 32px;
  color: #3d3d3d;
  opacity: 75%;
}

.clockIcon{
  width: 22px;
  height: 22px;
  color: #3d3d3d;
  opacity: 75%;
}

.btnClose {
  color: white;
  background-color: #3A2F7A;
  font-size: medium;
  height: 35px;
  width: 100px;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  margin-bottom: 10px;
  box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.25);
}
.btnWrapper {
  display: flex;
  justify-content: right;
  margin-top: 1.5em;
}


.cardContainer{
  background: #f1f1f1;
  border-radius: 25px;
  padding: 1rem;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.25);
  
}
.inputContainer{
  padding: 0 1rem;
  margin-top: 1rem;

  display: flex;
  flex-direction: column;
}

.label{
  font-size: small;
  color: #4a4a4a;
  align-self: flex-start;
  margin-left: -5px;
}
.textInput{
  width: 100%;
  height: 90px;
  border-radius: 18px;
  border: none;
  padding: 12px;

  font-family: Aptos, sans-serif;
  background: #e7e7e7;

  resize: none;
  outline: none;

  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.15);

  align-self: center;
}
.btnSubmit{
  width: 100%;
  height: 45px;
  margin-top: 20px;
  border-radius: 20px;
  border: none;
  background-color: #D66328;
  color: white;
  font-size: large;
  cursor: pointer;

  box-shadow: 0px 5px 10px rgba(0,0,0,0.25);
}

.btnSubmit:hover{
  opacity: 0.9;
}

#optionIcon{
  rotate: 90deg;
  width: 30px;
  height: 30px;
  color: #3d3d3d;
}
.optionPostion{
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.optionList{
  list-style: none; 
  margin: 0;   
  padding: 0;
}

.optionItem{
  gap: 10px;
  display: flex;
  font-size: small;
  font-weight: 400px;
  align-items: center;
  color: #3d3d3d;
  padding: 2px 0 2px 0;
  cursor: pointer;
}
.optionsIcons{
  width: 16px;
  height: 16px;
  color: #3d3d3d;
  opacity: 75%;
}
.optionInfo {
  margin: 0;
}
.optionsDropdown {
  top: 100%;  
  right: 0;  
  width: fit-content; 
  height: auto; 
  position: absolute;
  background: white;
  border-radius: 20px;
  padding: 1rem 1rem 1rem 1rem;
  box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.2);
  z-index: 999;
}
.registerInput{
  color: #4a4a4a;
  outline: none;
  border: none;
  box-sizing: border-box;
  background: #EBEBEB;
  height: 30px;
  width: 100%;
  border-radius: 20px;
  padding-left: 12px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

.linkToLogin{
  margin-top: 10px;
  text-decoration: none;
  text-align: center;
  font-size: small;
  color: #3A2F72;
}
.linkToLogin:focus{
  color: #3A2F72;
}

.formContainer{
  margin-top: -5%;
}

.registerContainer {
  padding: 0 1rem;
  margin-top: 1em;
  width: auto;

  display: flex;
  flex-direction: column;
}
.registerLabel{
  font-size: small;
  color: #4a4a4a;
  align-self: flex-start;
  margin-left: 10px;
}
#registerIcon{
  width: 28px;
  height:28px;
}
.linkToRegister{
  text-decoration: none;
  text-align: left;
  font-size: 11px;
  color: #3A2F72;
}
.linkToRegister:focus{
  color: #3A2F72;
}
.linkToPassChange{
  text-decoration: none;
  text-align: right;
  font-size: 11px;
  color: #3A2F72;
}
.linkToPassChange:focus{
  color: #3A2F72;
}
.linksContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.inputWrapper .registerInput {
  width: 100%;
  padding-right: 40px; 
}

.inputIcon {
  position: absolute;
  right: 12px;
  width: 18px;
  height: 18px;
  opacity: 0.4;
  pointer-events: none;
}