# System files
.DS_Store
Thumbs.db
desktop.ini

# IDEs and Editors
.visualstudio
.vscode/
.idea/
*.swp
*.swo

# Logs and databases
*.log
*.sqlite

# Environment variables
.env

# Folders to avoid (common ones)
node_modules/
__pycache__/
bin/
obj/
dist/
